Now, analyze the following subtask and identify its relevant constraints:

<original_task_prompt>
{{ original_task_prompt }}
</original_task_prompt>

<subtask_description>
{{ subtask_description }}
</subtask_description>

<subtask_prompt>
{{ subtask_prompt }}
</subtask_prompt>

